@using Project4IdentityMessages_EntityLayer.Concrete
@model List<Message>

@{
    ViewData["Title"] = "Outbox";
    Layout = "~/Views/Shared/IdentityLayout.cshtml";
}

<div class="container mt-4">
    <h3>Giden Kutusu</h3>
    <br />
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Alıcı</th>
                <th>Konu</th>
                <th>Kategori</th>
                <th>Tarih</th>
                <th>Mesajı Aç</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <td>@message.ReceiverMail</td>
                    <td>@message.Subject</td>
                    <td>@message.Category.CategoryName</td>
                    <td>@message.CreatedAt.ToString("dd.MM.yyyy")</td>
                    <td><a href="/Message/MessageDetailSender/@message.MessageId" class="btn btn-primary">Mesajı Aç</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>